<html>
<head>
  <title><%= title %></title>
  <script type="text/javascript">
    function remoteButtonPress(button) {
      var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject('Microsoft.XMLHTTP');
      xhr.open('POST', '/mode/current/button-press?button=' + encodeURIComponent(button));
      xhr.onreadystatechange = function() {
        if (xhr.readyState > 3 && xhr.status == 200) {
          console.log(xhr.responseText);
        }
      };
      xhr.send();
    }
  </script>
</head>
<body>
<img src="<%= imagePath %>" alt="<%= title %>" usemap="#remote-map">

<map name="remote-map">
  <% Object.keys(buttonMap).forEach(function(buttonKey) {
    const button = buttonMap[buttonKey];
    const coords = button.coords.join(',');
  %>
  <area shape="rect" coords="<%= coords %>" onclick="remoteButtonPress('<%= buttonKey %>')" alt="<%= buttonKey %>">
  <% }); %>
  <area shape="rect" coords="0,0,82,126" href="sun.htm" alt="Sun">
  <area shape="circle" coords="90,58,3" href="mercur.htm" alt="Mercury">
  <area shape="circle" coords="124,58,8" href="venus.htm" alt="Venus">
</map>
</body>
</html>